*.o
*.py[co]
*.class
*.jar
*~
*.so
*.gox
*.a
*.dll
*.key
*.orig
*.rej

/uwsgi
/uwsgibuild.*
/core/config_py.c

/t/ring/target
/t/spooler/spooldir/uwsgi_*

core/dot_h.c

+# coverity
+/cov-int/
+uwsgi.tar.xz

/build/
/dist/
/uWSGI.egg-info/
